<h2>Привет, {{subscriberName}}</h2>
<p>В каталоге тренерa {{publisherName}} появилась новая тренировка.</p>
{{#with publications}}
<h1>{{title}}</h1>
<p>{{description}}</p>
{{/with}}
<p>Присоединяйся!!!</p>
